;config/googleBigQueryLogger.ini

[configuration]
environment = prod

;Logs created from a test/debug environment are not saved.
exclude_environment[] = test
exclude_environment[] = debug

;Show logs result after BigQuery insert
show_results = false

[bigQueryConfiguration]
dataset =
keyFilePath = /config/google_client_credentials.json
